.ckdlb .el-breadcrumb{
	height: 40px;
	width: 100%;
	background:url('../../img/rk/caozuomoren.png') ;

}
.ckdlb .el-breadcrumb .el-button{
	width: auto;
	padding-left:30px;
	height: 40px;
	color:#000;
	position: relative;
	font-size:12px;
	text-align: right;
}
.ckdlb .el-breadcrumb .el-button:hover{
	background: url('../../img/rk/caozuoxuanfu.png');
}
.ckdlb .el-breadcrumb .el-button i{
	position: absolute;
	width: 20px;
	height: 20px;
	top:8px;
}
.ckdlb .el-breadcrumb .ico1{
	background: url('../../img/rk/shenhe.png');
	left:10px;

}
.ckdlb .el-breadcrumb .ico2{
	background: url('../../img/rk/baocunshenhe.png');
	left:0px;
}
.ckdlb .el-breadcrumb .ico3{
	background: url('../../img/rk/beizhu.png');
	left:-1px
}
.ckdlb .el-breadcrumb .ico4{
	background: url('../../img/rk/chuangti.png');
	left:-1px
}
.ckdlb .el-breadcrumb .ico5{
	background: url('../../img/rk/tuichu.png');
	left:-1px
}
.ckdlb .fl{
	float: left;
}
.ckdlb .fr{
	float: right;
}
.ckdlb .el-input{
	height: 25px;
	float: right;
}
.ckdlb .el-input input{
	border:1px solid #6BC8FE;
	height: 25px;
	border-radius: 0;
}
.ckdlb .el-input__icon{
	background-color: #6BC8FE;
	color:#fff;

}
.ckdlb .el-input__icon::before{
	color:#fff;
}
.ckdlb .form1{
	margin-top: 15px;
}
.ckdlb .el-col span{
	line-height: 25px;
}
.ckdlb .zdrq{
	width: 100%;
}
.ckdlb .rq2{
	margin-left: 12px;
}
.ckdlb .shbz{
	
	margin-left: 10px;

}
.ckdlb .hzf{
	
}
.ckdlb .grid-content{
	position: relative;
}
.ckdlb .grid-content .el-button{
	width: 100px; height: 25px;
	line-height: 25px;
	text-align: center;
	border-radius: 0;
	background: url('../../img/rk/yeqianmoren.png');
	border:none;
	color:#000;
}
.ckdlb .grid-content .cx{
	
}
.ckdlb .grid-content .cx::before{
	width: 20px;height: 20px;
	content:url(../../img/rk/cx.png);
	position:absolute;
	left:10px; top:5px;
}
.ckdlb .grid-content .close{
	left:140px;
}
.ckdlb .grid-content .close::before{
	width: 20px;height: 20px;
	content:url(../../img/rk/gb.png) ;
		position:absolute;
		left:10px; top:5px;
}
.ckdlb .grid-content .el-button span{
	position: absolute;
	left:40px; top:0;
	width: 60px;
	font-size:16px;
	text-align: justify;
	display: inline-block;

}
.ckdlb .el-table{
	border:1px solid #6BC8FE;

}
.ckdlb .el-table tr{
	height: 40px;
}
.ckdlb .el-table th{
	border:1px solid #6BC8FE;
	background: #cdecfd;

}
.ckdlb .el-table th>.cell {
	background: #cdecfd;
	text-align: center;
	height: 100%;
}
.ckdlb .el-table td{
	border:1px solid #6BC8FE;
	background: #F8F8F8;
}

.ckdlb .el-table__header-wrapper {
	height: 40px;
}
.ckdlb .el-form{
	margin-left: 15px;
}

.ckdlb .yqbj{
	position: relative;
	
}
.ckdlb .yq {
  float: left;
  
  margin-left:10px;
}
.ckdlb .djbj{
	position: relative;
	
}

.ckdlb .tongji{
	height: 40px;
	background: #CDECFD;
	border:solid #36B5FC 1px;
	position: relative;
}
.ckdlb .el-tag{
	width: 155px;
	height: 28px;
	background: url('../../img/rk/yeqiandiji.png');
	color:#000;
	text-align: center;
}
.ckdlb .tag1{
	position: absolute;
	left:440px; top:5px;
}
.ckdlb .tag2{
	position: absolute;
	right:440px; top:5px;
}
.ckdlb .el-form span{
	color:#5EC0FD;
}
.ckdlb .el-form .el-button span{
	color:#000;
}

.ckdlb .second_row{
	margin-bottom: 10px;
}
.ckdlb .input_width{
	width: 100%;
}
